<!DOCTYPE html>
<html lang="en" dir=>

<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="几个 Vue 入门的小案例
在使用 Vue 前注意引入一个 Vue 库，当前案例使用的是 script 标签引入如下版本
&lt;script src=&#34;https://cdn.bootcss.com/vue/2.6.10/vue.js&#34;&gt;&lt;/script&gt; 按钮开/关提示 #  代码 html &lt;div id=&#34;app&#34;&gt; &lt;button v-on:click=&#34;go&#34;&gt;开/关&lt;/button&gt; &lt;p v-if=&#34;open&#34;&gt;我是文字内容&lt;/p&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { open: false }, methods: { go(){ this.open = !this.open } } }) CSS p { border: 1px solid #ccc; padding: 10px; width: 200px; }  鼠标悬浮提示 #  代码
html &lt;div id=&#34;app&#34;&gt; &lt;p v-bind:title=&#34;xxx&#34;&gt;鼠标悬浮当前文字显示提示&lt;/p&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { xxx: &#39;我是文字提示&#39; } }) CSS p { border: 1px solid #ccc; padding: 10px; width: 200px; }  简单的轮播 #  代码 html &lt;div id=&#34;app&#34;&gt; &lt;div&gt; &lt;div class=&#34;window&#34;&gt; &lt;div class=&#34;demo&#34; v-bind:style=&#34;{transform: transformValue}&#34;&gt;&lt;/div&gt; &lt;/div&gt; &lt;button v-on:click=&#34;go(0)&#34;&gt;1&lt;/button&gt; &lt;button v-on:click=&#34;go(1)&#34;&gt;2&lt;/button&gt; &lt;button v-on:click=&#34;go(2)&#34;&gt;3&lt;/button&gt; &lt;/div&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { transformValue: &#39;&#39; }, ​ methods:{ ​ go(index){ this.">
<meta name="theme-color" content="#FFFFFF"><meta property="og:title" content="Vue 入门案例" />
<meta property="og:description" content="几个 Vue 入门的小案例
在使用 Vue 前注意引入一个 Vue 库，当前案例使用的是 script 标签引入如下版本
&lt;script src=&#34;https://cdn.bootcss.com/vue/2.6.10/vue.js&#34;&gt;&lt;/script&gt; 按钮开/关提示 #  代码 html &lt;div id=&#34;app&#34;&gt; &lt;button v-on:click=&#34;go&#34;&gt;开/关&lt;/button&gt; &lt;p v-if=&#34;open&#34;&gt;我是文字内容&lt;/p&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { open: false }, methods: { go(){ this.open = !this.open } } }) CSS p { border: 1px solid #ccc; padding: 10px; width: 200px; }  鼠标悬浮提示 #  代码
html &lt;div id=&#34;app&#34;&gt; &lt;p v-bind:title=&#34;xxx&#34;&gt;鼠标悬浮当前文字显示提示&lt;/p&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { xxx: &#39;我是文字提示&#39; } }) CSS p { border: 1px solid #ccc; padding: 10px; width: 200px; }  简单的轮播 #  代码 html &lt;div id=&#34;app&#34;&gt; &lt;div&gt; &lt;div class=&#34;window&#34;&gt; &lt;div class=&#34;demo&#34; v-bind:style=&#34;{transform: transformValue}&#34;&gt;&lt;/div&gt; &lt;/div&gt; &lt;button v-on:click=&#34;go(0)&#34;&gt;1&lt;/button&gt; &lt;button v-on:click=&#34;go(1)&#34;&gt;2&lt;/button&gt; &lt;button v-on:click=&#34;go(2)&#34;&gt;3&lt;/button&gt; &lt;/div&gt; &lt;/div&gt; JavaScript let app = new Vue({ el: &#39;#app&#39;, data: { transformValue: &#39;&#39; }, ​ methods:{ ​ go(index){ this." />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://bravchen.github.io/history/vue%E5%85%A5%E9%97%A8%E6%A1%88%E4%BE%8B/" />
<meta property="article:published_time" content="2019-09-01T18:29:26+00:00" />
<meta property="article:modified_time" content="2019-09-01T18:29:26+00:00" />
<title>Vue 入门案例 | MrChen</title>
<link rel="manifest" href="/manifest.json">
<link rel="icon" href="/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/book.min.e4e56f7c42eea0eaebdeab57881fc035b2061a6f8ab5f090eb5cb25469ab5944.css" integrity="sha256-5OVvfELuoOrr3qtXiB/ANbIGGm&#43;KtfCQ61yyVGmrWUQ=">
<script defer src="/en.search.min.895afb2ab0f75c4553baefa3caf53699395d3e9abef4e8a782f78dd87c4a9c04.js" integrity="sha256-iVr7KrD3XEVTuu&#43;jyvU2mTldPpq&#43;9OingveN2HxKnAQ="></script>
<!--
Made with Book Theme
https://github.com/alex-shpak/hugo-book
-->

  
</head>

<body dir=>
  <input type="checkbox" class="hidden" id="menu-control" />
  <main class="container flex">
    <aside class="book-menu">
      
  <nav>
<h2 class="book-brand">
  <a href="/"><span>MrChen</span>
  </a>
</h2>


<div class="book-search">
  <input type="text" id="book-search-input" placeholder="Search" aria-label="Search" maxlength="64" data-hotkeys="s/" />
  <div class="book-search-spinner hidden"></div>
  <ul id="book-search-results"></ul>
</div>











  

  



  
  
  
  

  
  <ul>
    
      
        <li>
          
  
    <a href="/posts/" class="collapsed ">博客</a>
  

          
  
  
  

  

        </li>
      
    
      
        <li>
          
  
    <a href="/docs/" class="collapsed ">转载</a>
  

          
  
  
  

  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/" class="collapsed ">历史</a>
  

          
  
  
  

  
  <ul>
    
      
        <li>
          
  
    <a href="/history/2019-10-10-%E5%A4%9A%E4%BA%BA%E5%8D%9A%E5%AE%A2%E9%A1%B9%E7%9B%AE%E7%AE%80%E8%AE%B0/" class="">多人博客项目(简记)</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-15-keyboard-nav/" class="">键盘导航</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-14-canvas/" class="">Canvas画板</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-08-28-%E5%AE%89%E5%8D%93%E9%9F%B3%E4%B9%90%E6%92%AD%E6%94%BE%E5%99%A8%E6%A1%88%E4%BE%8B/" class="">安卓音乐播放器案例</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-12-12-%E5%87%BD%E6%95%B0%E5%AF%B9%E8%B1%A1%E8%AF%AD%E6%B3%95%E7%B3%96%E7%AE%80%E7%89%88/" class="">函数与对象的语法糖(索引)</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-12-01-function-object-sugar/" class="">函数与对象的语法糖一</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-12-01-%E5%87%BD%E6%95%B0%E4%B8%8E%E5%AF%B9%E8%B1%A1%E7%9A%84%E8%AF%AD%E6%B3%95%E7%B3%96%E4%BA%8C/" class="">函数与对象的语法糖二</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/0cd88b5c/" class="">模块化</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-04-07-vue%E5%A4%9A%E4%BA%BA%E5%85%B1%E4%BA%AB%E5%8D%9A%E5%AE%A2/" class="">[项目] Vue 多人共享博客</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-03-31-jsonp/" class="">[高级] 35 - JSONP</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-25-%E5%A4%9A%E4%BA%BA%E5%8D%9A%E5%AE%A2%E9%A1%B9%E7%9B%AE%E8%AF%A6%E7%BB%86/" class="">多人博客项目(详细)</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-06-04-vue-plugin-int/" class="">Vue插件安装</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-06-04-css-selector/" class="">CSS选择器总结</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/dd3e7bbd/" class="">常用的HTML5标签</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-04-25-%E7%AE%80%E5%8E%86%E6%80%8E%E4%B9%88%E5%86%99/" class="">简历怎么写</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-04-12-lx%E4%B8%BB%E9%A2%98%E4%B8%AD%E6%96%87%E6%96%87%E6%A1%A3/" class="">lx主题中文文档</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-27-css-grid-%E7%BD%91%E6%A0%BC%E5%B8%83%E5%B1%80/" class="">CSS Grid 网格布局</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-17-jquery%E5%B8%B8%E7%94%A8api%E6%80%BB%E7%BB%93/" class="">jQuery常用API总结</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-17-js%E5%B8%B8%E7%94%A8api%E6%80%BB%E7%BB%93/" class="">JS 常用API总结</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-17-yarn%E5%85%A5%E9%97%A8/" class="">yarn 入门</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-17-npm%E5%85%A5%E9%97%A8/" class="">npm 入门</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-04-es6%E6%96%B0%E7%89%B9%E6%80%A7/" class="">ES6新特性</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-03-%E9%9D%A2%E5%90%91%E5%AF%B9%E8%B1%A1/" class="">面向对象</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-03-jquery%E5%88%B6%E4%BD%9C%E8%BD%AE%E6%92%AD/" class="">jQuery制作轮播</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/jquery%E8%BD%AE%E6%92%AD%E6%A1%88%E4%BE%8B/" class="">jQuery制作轮播</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-03-%E8%87%AA%E5%88%B6jquery/" class="">自制jQuery</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-10-01-mvvm/" class="">MVVM</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-28-this%E6%98%AF%E4%BB%80%E4%B9%88/" class="">this是什么</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-27-new%E5%81%9A%E4%BA%86%E4%BB%80%E4%B9%88/" class="">New做了什么</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-21-%E4%BB%A3%E7%A0%81%E6%A8%A1%E5%9D%97%E5%8C%96/" class="">代码模块化</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-20-mvc%E6%80%9D%E6%83%B3/" class="">MVC思想</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-18-%E8%87%AA%E5%B7%B1%E5%AE%9E%E7%8E%B0-ajax/" class="">自己实现 AJAX</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-17-ajax/" class="">AJAX</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-16-jsonp/" class="">JSONP</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-14-vim-get-started/" class="">vim 入门</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-14-vim%E7%9A%84%E4%BD%BF%E7%94%A8/" class="">vim 的使用</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-10-%E5%91%BD%E4%BB%A4%E8%A1%8C%E5%B8%B8%E7%94%A8%E6%8A%80%E5%B7%A7/" class="">命令行常用技巧</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-09-%E6%B5%8F%E8%A7%88%E5%99%A8%E7%BC%93%E5%AD%98/" class="">浏览器缓存</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-09-css%E5%B8%B8%E7%94%A8%E5%B1%9E%E6%80%A7/" class="">CSS 常用属性</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-09-01-%E7%A7%BB%E5%8A%A8%E7%AB%AF%E9%A1%B5%E9%9D%A2-%E5%93%8D%E5%BA%94%E5%BC%8F/" class="">移动端页面(响应式)</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/element-ui/" class="">Element UI</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/vue%E5%85%A5%E9%97%A8%E6%A1%88%E4%BE%8B/" class="active">Vue 入门案例</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/%E6%B5%8B%E8%AF%95%E9%A1%B5/" class="">测试页</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-08-28-webpack-use/" class="">webpack 的使用</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/js%E5%9F%BA%E7%A1%80%E5%B8%B8%E8%AF%86/" class="">JS基础常识</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/action/" class="">Action 官方文档</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/axios%E5%85%A5%E9%97%A8/" class="">Axios 入门</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/js%E4%B8%AD%E7%9A%84symbol%E6%98%AF%E4%BB%80%E4%B9%88/" class="">JS 中的 Symbol 是什么？</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/json%E6%98%AF%E4%BB%80%E4%B9%88/" class="">JSON 是什么？</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2019-11-12-module%E8%AF%AD%E6%B3%95/" class="">Module语法</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/vue-%E7%82%B9%E5%87%BB%E7%A9%BA%E7%99%BD%E5%85%B3%E9%97%AD%E6%B5%AE%E5%B1%82/" class="">Vue 点击空白关闭浮层</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/vue-cli%E4%BD%BF%E7%94%A8/" class="">Vue-cli 使用</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/vuex%E4%BD%BF%E7%94%A8/" class="">Vuex 使用</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-02-03-%E5%8E%9F%E5%9E%8B%E9%93%BE%E8%A1%A5%E5%85%85/" class="">原型链补充</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-05-07-%E6%95%B0%E7%BB%84/" class="">数组</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/2020-04-27-%E4%B8%80%E4%B8%AA%E5%AE%8C%E6%95%B4%E7%9A%84%E7%AE%80%E5%8E%86%E5%88%B6%E4%BD%9C%E8%BF%87%E7%A8%8B/" class="">简历该怎么写</a>
  

        </li>
      
    
      
        <li>
          
  
    <a href="/history/%E8%AE%A1%E7%AE%97%E5%B1%9E%E6%80%A7%E5%92%8C%E4%BE%A6%E5%90%AC%E5%99%A8/" class="">计算属性和监听器</a>
  

        </li>
      
    
  </ul>
  

        </li>
      
    
  </ul>
  















</nav>




  <script>(function(){var menu=document.querySelector("aside.book-menu nav");addEventListener("beforeunload",function(event){localStorage.setItem("menu.scrollTop",menu.scrollTop);});menu.scrollTop=localStorage.getItem("menu.scrollTop");})();</script>


 
    </aside>

    <div class="book-page">
      <header class="book-header">
        
  <div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="/svg/menu.svg" class="book-icon" alt="Menu" />
  </label>

  <strong>Vue 入门案例</strong>

  <label for="toc-control">
    
    <img src="/svg/toc.svg" class="book-icon" alt="Table of Contents" />
    
  </label>
</div>


  
    <input type="checkbox" class="hidden" id="toc-control" />
    <aside class="hidden clearfix">
      
  <nav id="TableOfContents">
  <ul>
    <li><a href="#按钮开关提示">按钮开/关提示</a></li>
    <li><a href="#鼠标悬浮提示">鼠标悬浮提示</a></li>
    <li><a href="#简单的轮播">简单的轮播</a></li>
    <li><a href="#tab-切换">tab 切换</a></li>
  </ul>
</nav>


    </aside>
  
 
      </header>

      
      
  <article class="markdown"><p>几个 Vue 入门的小案例</p>
<p>在使用 Vue 前注意引入一个 Vue 库，当前案例使用的是 script 标签引入如下版本</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">script</span> src<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;https://cdn.bootcss.com/vue/2.6.10/vue.js&#34;</span>&gt;&lt;/<span style="color:#268bd2">script</span>&gt;
</code></pre></div><h2 id="按钮开关提示">
  按钮开/关提示
  <a class="anchor" href="#%e6%8c%89%e9%92%ae%e5%bc%80%e5%85%b3%e6%8f%90%e7%a4%ba">#</a>
</h2>
<p><strong>代码</strong>




<div class="book-tabs"><input type="radio" class="hidden" name="tabs-tabs-01" id="tabs-tabs-01-0" checked="checked" />
  <label for="tabs-tabs-01-0">html</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">div</span> id<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;app&#34;</span>&gt;
    &lt;<span style="color:#268bd2">button</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;go&#34;</span>&gt;开/关&lt;/<span style="color:#268bd2">button</span>&gt;
    &lt;<span style="color:#268bd2">p</span> v-if<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;open&#34;</span>&gt;我是文字内容&lt;/<span style="color:#268bd2">p</span>&gt;
&lt;/<span style="color:#268bd2">div</span>&gt;
</code></pre></div></div><input type="radio" class="hidden" name="tabs-tabs-01" id="tabs-tabs-01-1"  />
  <label for="tabs-tabs-01-1">JavaScript</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#268bd2">let</span> app <span style="color:#719e07">=</span> <span style="color:#719e07">new</span> Vue({
    el<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;#app&#39;</span>,
    data<span style="color:#719e07">:</span> { open<span style="color:#719e07">:</span> <span style="color:#cb4b16">false</span> },
    methods<span style="color:#719e07">:</span> {
        go(){ <span style="color:#719e07">this</span>.open <span style="color:#719e07">=</span> <span style="color:#719e07">!</span><span style="color:#719e07">this</span>.open }
    }
})
</code></pre></div></div><input type="radio" class="hidden" name="tabs-tabs-01" id="tabs-tabs-01-2"  />
  <label for="tabs-tabs-01-2">CSS</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-css" data-lang="css"><span style="color:#268bd2">p</span> { 
    <span style="color:#719e07">border</span>: <span style="color:#2aa198">1</span><span style="color:#dc322f">px</span> <span style="color:#cb4b16">solid</span> <span style="color:#2aa198">#ccc</span>; 
    <span style="color:#719e07">padding</span>: <span style="color:#2aa198">10</span><span style="color:#dc322f">px</span>; 
    <span style="color:#719e07">width</span>: <span style="color:#2aa198">200</span><span style="color:#dc322f">px</span>;
}
</code></pre></div></div></div>
</p>
<h2 id="鼠标悬浮提示">
  鼠标悬浮提示
  <a class="anchor" href="#%e9%bc%a0%e6%a0%87%e6%82%ac%e6%b5%ae%e6%8f%90%e7%a4%ba">#</a>
</h2>
<p><strong>代码</strong></p>




<div class="book-tabs"><input type="radio" class="hidden" name="tabs-鼠标悬浮提示" id="tabs-鼠标悬浮提示-0" checked="checked" />
  <label for="tabs-鼠标悬浮提示-0">html</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">div</span> id<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;app&#34;</span>&gt;
    &lt;<span style="color:#268bd2">p</span> v-bind:title<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;xxx&#34;</span>&gt;鼠标悬浮当前文字显示提示&lt;/<span style="color:#268bd2">p</span>&gt;
&lt;/<span style="color:#268bd2">div</span>&gt;
</code></pre></div></div><input type="radio" class="hidden" name="tabs-鼠标悬浮提示" id="tabs-鼠标悬浮提示-1"  />
  <label for="tabs-鼠标悬浮提示-1">JavaScript</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#268bd2">let</span> app <span style="color:#719e07">=</span> <span style="color:#719e07">new</span> Vue({
    el<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;#app&#39;</span>,
    data<span style="color:#719e07">:</span> { xxx<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;我是文字提示&#39;</span> }
})
</code></pre></div></div><input type="radio" class="hidden" name="tabs-鼠标悬浮提示" id="tabs-鼠标悬浮提示-2"  />
  <label for="tabs-鼠标悬浮提示-2">CSS</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-css" data-lang="css"><span style="color:#268bd2">p</span> { 
    <span style="color:#719e07">border</span>: <span style="color:#2aa198">1</span><span style="color:#dc322f">px</span> <span style="color:#cb4b16">solid</span> <span style="color:#2aa198">#ccc</span>; 
    <span style="color:#719e07">padding</span>: <span style="color:#2aa198">10</span><span style="color:#dc322f">px</span>; 
    <span style="color:#719e07">width</span>: <span style="color:#2aa198">200</span><span style="color:#dc322f">px</span>;
}
</code></pre></div></div></div>

<h2 id="简单的轮播">
  简单的轮播
  <a class="anchor" href="#%e7%ae%80%e5%8d%95%e7%9a%84%e8%bd%ae%e6%92%ad">#</a>
</h2>
<p><strong>代码</strong>




<div class="book-tabs"><input type="radio" class="hidden" name="tabs-简单的轮播" id="tabs-简单的轮播-0" checked="checked" />
  <label for="tabs-简单的轮播-0">html</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">div</span> id<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;app&#34;</span>&gt;
    &lt;<span style="color:#268bd2">div</span>&gt;
        &lt;<span style="color:#268bd2">div</span> class<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;window&#34;</span>&gt;
            &lt;<span style="color:#268bd2">div</span> class<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;demo&#34;</span> v-bind:style<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;{transform: transformValue}&#34;</span>&gt;&lt;/<span style="color:#268bd2">div</span>&gt;
        &lt;/<span style="color:#268bd2">div</span>&gt;
        &lt;<span style="color:#268bd2">button</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;go(0)&#34;</span>&gt;1&lt;/<span style="color:#268bd2">button</span>&gt;
        &lt;<span style="color:#268bd2">button</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;go(1)&#34;</span>&gt;2&lt;/<span style="color:#268bd2">button</span>&gt;
        &lt;<span style="color:#268bd2">button</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;go(2)&#34;</span>&gt;3&lt;/<span style="color:#268bd2">button</span>&gt;
    &lt;/<span style="color:#268bd2">div</span>&gt;
&lt;/<span style="color:#268bd2">div</span>&gt;
</code></pre></div></div><input type="radio" class="hidden" name="tabs-简单的轮播" id="tabs-简单的轮播-1"  />
  <label for="tabs-简单的轮播-1">JavaScript</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#268bd2">let</span> app <span style="color:#719e07">=</span> <span style="color:#719e07">new</span> Vue({
    el<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;#app&#39;</span>,
    data<span style="color:#719e07">:</span> { transformValue<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;&#39;</span> },
​    methods<span style="color:#719e07">:</span>{
​        go(index){ <span style="color:#719e07">this</span>.transformValue <span style="color:#719e07">=</span> <span style="color:#586e75">`translateX(</span><span style="color:#2aa198">${</span><span style="color:#719e07">-</span><span style="color:#2aa198">100</span><span style="color:#719e07">*</span>index<span style="color:#2aa198">}</span><span style="color:#586e75">px)`</span> }
​    }
})
</code></pre></div></div><input type="radio" class="hidden" name="tabs-简单的轮播" id="tabs-简单的轮播-2"  />
  <label for="tabs-简单的轮播-2">CSS</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-css" data-lang="css"><span style="color:#268bd2">body</span> { <span style="color:#719e07">padding</span>: <span style="color:#2aa198">100</span><span style="color:#dc322f">px</span> <span style="color:#2aa198">0</span> <span style="color:#2aa198">0</span> <span style="color:#2aa198">200</span><span style="color:#dc322f">px</span>; }
.<span style="color:#268bd2">window</span> { <span style="color:#719e07">width</span>: <span style="color:#2aa198">100</span><span style="color:#dc322f">px</span>; <span style="color:#719e07">height</span>: <span style="color:#2aa198">100</span><span style="color:#dc322f">px</span>; <span style="color:#719e07">border</span>: <span style="color:#2aa198">1</span><span style="color:#dc322f">px</span> <span style="color:#cb4b16">solid</span> <span style="color:#cb4b16">blue</span>; }
.<span style="color:#268bd2">demo</span> { 
	<span style="color:#719e07">width</span>: <span style="color:#2aa198">300</span><span style="color:#dc322f">px</span>; 
	<span style="color:#719e07">height</span>: <span style="color:#2aa198">100</span><span style="color:#dc322f">px</span>; 
	<span style="color:#719e07">background</span>: <span style="color:#b58900">rgba</span>(<span style="color:#2aa198">0</span>, <span style="color:#2aa198">0</span>, <span style="color:#2aa198">255</span>, <span style="color:#2aa198">0.3</span>); 
    <span style="color:#719e07">transition</span>: <span style="color:#cb4b16">all</span> <span style="color:#2aa198">0.3</span><span style="color:#dc322f">s</span>; 
}
</code></pre></div></div></div>
</p>
<h2 id="tab-切换">
  tab 切换
  <a class="anchor" href="#tab-%e5%88%87%e6%8d%a2">#</a>
</h2>
<p><strong>简单的切换</strong></p>




<div class="book-tabs"><input type="radio" class="hidden" name="tabs-tab 切换" id="tabs-tab 切换-0" checked="checked" />
  <label for="tabs-tab 切换-0">html</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">div</span> id<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;app&#34;</span>&gt;
    &lt;<span style="color:#268bd2">div</span>&gt;
        &lt;<span style="color:#268bd2">ol</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected = 0&#34;</span>&gt;1&lt;/<span style="color:#268bd2">li</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected = 1&#34;</span>&gt;2&lt;/<span style="color:#268bd2">li</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected = 2&#34;</span>&gt;3&lt;/<span style="color:#268bd2">li</span>&gt;
        &lt;/<span style="color:#268bd2">ol</span>&gt;
        &lt;<span style="color:#268bd2">ol</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-show<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected === 0&#34;</span>&gt;内容1&lt;/<span style="color:#268bd2">li</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-show<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected === 1&#34;</span>&gt;内容2&lt;/<span style="color:#268bd2">li</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-show<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected === 2&#34;</span>&gt;内容3&lt;/<span style="color:#268bd2">li</span>&gt;
        &lt;/<span style="color:#268bd2">ol</span>&gt;
    &lt;/<span style="color:#268bd2">div</span>&gt;
&lt;/<span style="color:#268bd2">div</span>&gt;
</code></pre></div></div><input type="radio" class="hidden" name="tabs-tab 切换" id="tabs-tab 切换-1"  />
  <label for="tabs-tab 切换-1">JavaScript</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#268bd2">let</span> app <span style="color:#719e07">=</span> <span style="color:#719e07">new</span> Vue({
    el<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;#app&#39;</span>,
    data<span style="color:#719e07">:</span> { selected<span style="color:#719e07">:</span> <span style="color:#2aa198">0</span> }
})
</code></pre></div></div><input type="radio" class="hidden" name="tabs-tab 切换" id="tabs-tab 切换-2"  />
  <label for="tabs-tab 切换-2">CSS</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-css" data-lang="css"><span style="color:#268bd2">li</span> { 
	<span style="color:#719e07">list-style</span>: <span style="color:#cb4b16">none</span>; 
	<span style="color:#719e07">display</span>: <span style="color:#cb4b16">inline</span><span style="color:#719e07">-</span><span style="color:#cb4b16">block</span>; 
	<span style="color:#719e07">padding</span>: <span style="color:#2aa198">10</span><span style="color:#dc322f">px</span>; 
    <span style="color:#719e07">border</span>: <span style="color:#2aa198">1</span><span style="color:#dc322f">px</span> <span style="color:#cb4b16">solid</span> <span style="color:#2aa198">#ccc</span>;
}
</code></pre></div></div></div>

<p><strong>for循环切换</strong></p>




<div class="book-tabs"><input type="radio" class="hidden" name="tabs-for循环切换" id="tabs-for循环切换-0" checked="checked" />
  <label for="tabs-for循环切换-0">html</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-html" data-lang="html">&lt;<span style="color:#268bd2">div</span> id<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;app&#34;</span>&gt;
    &lt;<span style="color:#268bd2">div</span>&gt;
        &lt;<span style="color:#268bd2">ol</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-for<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;tab in tabs&#34;</span>
                v-on:click<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected = tab.name&#34;</span>
                v-bind:class<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;{active: tab.name === selected}&#34;</span>
            &gt;{{ tab.name }}&lt;/<span style="color:#268bd2">li</span>&gt;
        &lt;/<span style="color:#268bd2">ol</span>&gt;
        &lt;<span style="color:#268bd2">ol</span>&gt;
            &lt;<span style="color:#268bd2">li</span> v-for<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;tab in tabs&#34;</span>
                v-show<span style="color:#719e07">=</span><span style="color:#2aa198">&#34;selected === tab.name&#34;</span>
            &gt;{{ tab.content }}&lt;/<span style="color:#268bd2">li</span>&gt;
        &lt;/<span style="color:#268bd2">ol</span>&gt;
    &lt;/<span style="color:#268bd2">div</span>&gt;
&lt;/<span style="color:#268bd2">div</span>&gt;
</code></pre></div></div><input type="radio" class="hidden" name="tabs-for循环切换" id="tabs-for循环切换-1"  />
  <label for="tabs-for循环切换-1">JavaScript</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-javascript" data-lang="javascript"><span style="color:#268bd2">let</span> view <span style="color:#719e07">=</span> <span style="color:#719e07">new</span> Vue({
    el<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;#app&#39;</span>,
    data<span style="color:#719e07">:</span> {
        selected<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;a&#39;</span>,
        tabs<span style="color:#719e07">:</span> [
            { name<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;a&#39;</span>, content<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;内容a&#39;</span> },
            { name<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;b&#39;</span>, content<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;内容b&#39;</span> },
            { name<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;c&#39;</span>, content<span style="color:#719e07">:</span> <span style="color:#2aa198">&#39;内容c&#39;</span> }
        ]
    }
})
</code></pre></div></div><input type="radio" class="hidden" name="tabs-for循环切换" id="tabs-for循环切换-2"  />
  <label for="tabs-for循环切换-2">CSS</label>
  <div class="book-tabs-content markdown-inner"><div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-css" data-lang="css"><span style="color:#268bd2">ol</span><span style="color:#719e07">,</span> <span style="color:#268bd2">li</span> { <span style="color:#719e07">margin</span>: <span style="color:#2aa198">0</span>; <span style="color:#719e07">padding</span>: <span style="color:#2aa198">0</span>; }
<span style="color:#268bd2">li</span> { 
    <span style="color:#719e07">list-style</span>: <span style="color:#cb4b16">none</span>; 
    <span style="color:#719e07">display</span>: <span style="color:#cb4b16">inline</span><span style="color:#719e07">-</span><span style="color:#cb4b16">block</span>; 
    <span style="color:#719e07">cursor</span>: <span style="color:#cb4b16">pointer</span>;
    <span style="color:#719e07">padding</span>: <span style="color:#2aa198">10</span><span style="color:#dc322f">px</span>; 
    <span style="color:#719e07">margin</span>: <span style="color:#2aa198">4</span><span style="color:#dc322f">px</span>; 
    <span style="color:#719e07">border</span>: <span style="color:#2aa198">1</span><span style="color:#dc322f">px</span> <span style="color:#cb4b16">solid</span> <span style="color:#cb4b16">blue</span>; 
}
.<span style="color:#268bd2">active</span> { <span style="color:#719e07">background-color</span>: <span style="color:#2aa198">#ccc</span>; }
</code></pre></div></div></div>

</article>
 
      

      <footer class="book-footer">
        
  <div class="flex flex-wrap justify-between">





</div>

 
        
      </footer>

      
  
  <div class="book-comments">

</div>
  
 

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    
    <aside class="book-toc">
      
  <nav id="TableOfContents">
  <ul>
    <li><a href="#按钮开关提示">按钮开/关提示</a></li>
    <li><a href="#鼠标悬浮提示">鼠标悬浮提示</a></li>
    <li><a href="#简单的轮播">简单的轮播</a></li>
    <li><a href="#tab-切换">tab 切换</a></li>
  </ul>
</nav>

 
    </aside>
    
  </main>

  
</body>

</html>












